IPFS-Toolkit>=0.5.23
PyYAML>=6.0.1
robonomics-interface>=1.6.2
substrate-interface>=1.7.8
websocket-client>=1.5.2
typing_extensions>=4.9.0
requests>=2.31.0
urllib3>=1.26.18
scalecodec>=1.2.8
pinatapy-vourhey>=0.2.0
multiformats>=0.3.1.post4